* {
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border: 2px solid black;
}

a {
    text-decoration: none;
}

.container {
    border: 3px solid black;
    padding: 10px;
}

.container table{
    background-color: #020B4A;
    padding: 10px;
}

.formulario input {
    background-color: #020B4A;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
}

.formulario label {
    font-weight: bold;
}

button {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 0.8rem 2rem;
    border-radius: 4rem;
    background-color: #020B4A;
    color: aliceblue;
}

